body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/4893775.webp');
}

.container {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

h2 {
    margin-bottom: 20px;
    color:white;
}

.input-group {
    margin-bottom: 20px;
    
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #fffefe;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}
.register-container{
    display: none;
}

.form-border{
    text-align: center;
    border: 2px solid rgb(118, 117, 117);
    backdrop-filter: blur(10px);
}
#para,#para a{
    color: white;
}